 @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Lato&family=Pacifico&family=REM:wght@300&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'REM', sans-serif;

}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(128, 128, 128);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content{
    width: 600px;
    height: 625px;
    background-color: rgb(254, 254, 254);
    border-radius: 10px;
    padding: 40px 30px 20px 30px;
    margin: 20px;
  
}
.top{
    display: flex;
    
}
.top h1{
    font-size: 27px;
}
.top h1  {
    margin: 5px;
    
}
.top h2{
    padding-top: 7px;
}
.up_mid{
    display: flex;
    justify-content: space-between;
}
input{
    height: 35px;
    width: 220px;
}
.box2 select{
    height: 35px;
    width: 220px;
}
.end{
        display: flex;
        justify-content: space-between;
}
footer{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 50px;
}
footer button{
    background-color: red;
    color: white;
    width: 100px;
    height:25px;
}

section{
    margin-top: 10px;
}

h4{
    margin-bottom: 5px;
}