 @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Lato&family=Pacifico&family=REM:wght@300&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'REM', sans-serif;

}
body{
   
    background-color: rgb(128, 128, 128);
    
}

.container{
  
    max-width: 900px;
    margin: 0 auto;
}
.applybox{
background-color: white;
max-width: 600px;
margin: 0 auto;
margin-top: 50px;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.147);
padding: 20px;
border-radius: 25px;
}
.small{
    font-size: 25px;
}
.form_container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.item5{
    grid-column-start:1 ;
    grid-column-end: 3;
}
.form_controler{
    display: flex;
    flex-direction: column;
}
.btn{
    margin-top:35px;
    position: relative;
    left: 487px;
}
h1{
    margin-bottom: 15px;
}

label{
    margin-bottom: 4px;
}